body {
    background-color: #3d4558;
    max-width: 900px;
    margin: auto;
}

a:link {
    color: #b6ff8b;
    font-family: "Lucida Console", "Courier New", monospace;
}
a:visited {
    color: #79e3aa;
    font-family: "Lucida Console", "Courier New", monospace;
}

h2, h3, p, ul, ol, li, blockquote, figure {
    color: #dcb0ff;
    font-family: 'Trebuchet MS', sans-serif;
}

h1 {
    color: #dcb0ff;
    font-family: 'Trebuchet MS', sans-serif;
    text-align: center;
}

img {
    width: 20%;
    height: auto;
}

header, footer {
    margin: 25px, auto;
    text-align: center;
}


h6 {
    display: block;
    font-size: large;
    font-family: 'Trebuchet MS', sans-serif;
    color: #dcb0ff;
}

@media only screen and (orientation:portrait) {
    img {
        width: 80%;
        height: auto;
    }
}