        <footer>
            <nav>
                <p>
                <a href="https://webpages.charlotte.edu/ndudley2/" target="_blank">Webspace</a> |
                <a href="https://github.com/ndudley2" target="_blank">GitHub.com</a> |
                <a href="https://github.com/ndudley2/ndudley2.github.io" target="_blank">Github.io</a> |
                <a href="https://www.freecodecamp.org/ndudley2" target="_blank">FreeCodeCamp</a> |
                <a href="https://www.codecademy.com/profiles/ndudley2" target="_blank">Codecademy</a> |
                <a href="https://www.linkedin.com/in/natalia-dudley-41b9312bb/" target="_blank">LinkedIn</a>
                </p>
            </nav>
            <p>Natalia Dudley ©2026</p>
            <p>Certified in ...</p>
            <p>Site Designed By <a href="nataliadudleydesigns.com/">Natalia Dudley Designs</a></p>
        </footer>
