        <header>
            <h1>Natalia Dudley's | Nice Dragonfly | ITIS3135</h1>
            <img src="images/dragonfly.jpg" alt="a blue dragonfly">
            <p><i>"The site I made for class"</i></p>
            <nav>
                <p>
                <a href="index.html">Home</a> |
                <a href="introduction.html">Introduction</a> |
                <a href="contract.html">Contract</a> |
                <a href="about.html">About</a> |
                <a href="survey.html">Survey</a> |
                <a href="gallery.html">Gallery</a> |
                <a href="inventory.html">Inventory</a> |
                <a href="instructions.html">Instructions</a> |
                <a href="highlight.html">Highlight</a>
                </p>
            </nav>
            <nav>
                <a href="stuff/MMM d಄nut.htm">CRAPpy Webpage</a>
            </nav>
            <hr>
        </header>
