        <header>
            <h1>Natalia Dudley's | Nice Dragonfly | ITIS3135</h1>
            <img src="images/dragonfly.jpg" alt="a blue dragonfly">
            <p><i>"The site I made for class"</i></p>
            <nav>
                <a href="index.html">Home</a>
                <p> | </p>
                <a href="introduction.html">Introduction</a>
                <p> | </p>
                <a href="contract.html">Contract</a>
                <p> | </p>
                <a href="about.html">About</a>
                <p> | </p>
                <a href="survey.html">Survey</a>
                <p> | </p>
                <a href="gallery.html">Gallery</a>
                <p> | </p>
                <a href="inventory.html">Inventory</a>
                <p> | </p>
                <a href="instructions.html">Instructions</a>
                <p> | </p>
                <a href="highlight.html">Highlight</a>
            </nav>
            <nav>
                <a href="../index.html">Personal Webpage</a>
                <p> | </p>
                <a href="stuff/MMM d಄nut.htm">CRAPpy Webpage</a>
                <p> | </p>
                <a href="nataliadudleydesigns.com/">Natalia Dudley Designs</a>
            </nav>
        </header>
